html{
    scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce){}

body {
    background-color: #eee;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
    color: #000;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 100%;
  }

figcaption{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
}

@media screen and (prefers-color-scheme: dark){
    body{
        background-color: #595959;
        color: #fff;
    }

    img{
        border: none;
    }

    figure{
        background-color: #000;
        color: #dcce97;
        border: 5px solid #000;
    }
}

@media screen and (min-width: 772px){
    .grid {
        grid-template-columns: 40% 40%;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }

    img{
        border-radius: 100%;
    }

    figure{
        border-radius: 100%;
    }

    .grid figure:last-child{
        grid-column: 1 / span 2;
        
    }
}

@media screen and (min-width: 992px){

    img{
        border-radius: 0%;
    }

    figure{
        border-radius: 0%;
    }

    .grid figure:nth-child(3n){
        grid-column: 1 / span 2;
    }
}